/* .row {
  list-style: none;
}

.index {
  display: inline;
}

sell:  #e74c3c
buy: #2ecc71
alert: #f1c40f
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body * {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #34495e;
}

.dataView table *{
  padding: 3px;
}

.dataView tr {
  border-bottom: 1px solid black;
}

.alert{
  background-color: #f1c40f;
}

.not{
  background-color: #e74c3c;
}

.hover:hover{
  background-color: #2c3e50;
}

/* table th{
  padding: 3px
}

table * {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
} */
